<template name="layout">
	<!-- Site wrapper -->
	<div class="wrapper">

		<header class="main-header">
			<!-- Logo -->
			<a href="{{ pathFor 'public' }}" class="logo">
				<!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>W</b>T</span>
				<!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>Waka</b>Time</span>
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

 				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						{{#if currentUser}}
						<!-- User Account: style can be found in dropdown.less -->
						<li class="dropdown user user-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img src="{{ currentUser.profile.avatar }}" class="user-image" alt="User Image">
								<span class="hidden-xs">{{ currentUser.profile.name }}</span>
							</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header">
									<img src="{{ currentUser.profile.avatar }}" class="img-circle" alt="User Image">

									<p>
										{{ currentUser.profile.name }}
									</p>
								</li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-right">
										<a href="{{ pathFor 'logout' }}" class="btn btn-default btn-flat">Sign out</a>
									</div>
								</li>
							</ul>
						</li>
						{{else}}
							<li class="user user-menu">
								<a href="#!">
									<span class="hidden-xs">{{> loginButtons}}</span>
								</a>
							</li>
						{{/if}}
					</ul>
				</div>
			</nav>
		</header>

		<!-- =============================================== -->

		<!-- Left side column. contains the sidebar -->
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu">
					<li>
						<a href="{{ pathFor 'private' }}">
							<i class="fa fa-dashboard"></i> <span>Dashboard</span>
						</a>
					</li>
				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Blank page
					<small>it all starts here</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="{{pathFor 'private'}}"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Examples</a></li>
					<li class="active">Blank page</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				{{> Template.dynamic template=main}}
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 1.0.0
			</div>
			<strong>Copyright &copy; {{ year }} Kaiba Corp.</strong> All rights
			reserved.
		</footer>
	</div>
	<!-- ./wrapper -->
</template>
